#
# Copyright 2014, Broadcom Corporation
# All Rights Reserved.
#
# This is UNPUBLISHED PROPRIETARY SOURCE CODE of Broadcom Corporation;
# the contents of this file may not be disclosed to third parties, copied
# or duplicated in any form, in whole or in part, without the prior
# written permission of Broadcom Corporation.
#
#
# Segger J-Link
#
# http://www.segger.com/jlink.html
#

interface jlink
transport select swd

# Added for the EMW3162 project.
#if [catch {init}] {
#  echo "Error: Init called and catched!"
#}

#if [catch {reset}] {
#  echo "Error: Init called and catched!"
#}
reset_config trst_push_pull srst_push_pull trst_and_srst

# End of edit for EMW3162 project


